.service-details-container {
  padding-left: 0 ;
  padding-right: 0 ;
}

.service-details-row {
  min-height: 330px;
}

.service-details-row>.col,
.service-details-row>[class^="col-"] {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.service-details-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 0.4rem 0 0 0.4rem;
}

.s-desc {
  line-height: 1.7;
}
@media (max-width: 992px){
  .service-details-img {
  height: 400px;
}
}

@media (max-width: 767.98px) {
  .service-details-row {
    min-height: 180px;
  }

  .service-details-img {
    border-radius: 0.375rem 0.375rem 0 0;
    min-height: 180px;
  }
}